<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="DefaultConnection"
	 connectionString="Data Source=CCL2-28;Initial Catalog=CH33S3;User ID=sa;Password=ccl2;Encrypt=True;TrustServerCertificate=True"
	 providerName="System.Data.SqlClient" />
		<add name="DefaultConnection"
			 connectionString="Data Source=CCL2-13\mssqlserver01;Initial Catalog=CH33S3;User ID=sa;Password=ccl2;Encrypt=True;TrustServerCertificate=True"
			 providerName="System.Data.SqlClient" />

	</connectionStrings>
</configuration>